body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #353535;
  color: #fff;
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.game-title{
  font-size: 40px;
  margin-bottom: 30px;
}


.controls { 
  margin: 16px 0 8px; 
}


.move-img{
  height: 60px;
  object-fit: contain;
}

button:hover{
  background-color: #e7e7e7;;
}

button:focus-visible{
  outline: 3px solid #86b7fe;
  outline-offset: 2px;
  border-radius: 999px;
}

.reset-btns, .auto-play{
  font-size: 16px;
  padding: 10px 12px;
  background: white;
  color: #222;
  border: none;
  border-radius: 8px;
  transition: background 0.2s ease;
  cursor: pointer;
}
.auto-play:hover{
  background-color: #e7e7e7;
}

#rockBtn, #paperBtn, #scissorsBtn{
  width: 150px;
  height: 150px;
  background-color:transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 20px;
  transition: background 0.15s ease, transform 0.1s ease;
}

#rockBtn:hover, #paperBtn:hover, #scissorsBtn:hover{
  background-color: #777777;
  transform: scale(1.2)
}

#rockBtn:active, #paperBtn:active, #scissorsBtn:active{
  transform: scale(1.3);
}

.results{
  font-size: 30px;
  font-weight: bold;
  min-height: 1.2em;
}

.choices{
  margin-bottom: 30px;
}

.js-score{
  margin-bottom: 30px;
}